@import "tailwindcss";

@font-face {
  font-family: 'Bogue';
  src: url('@/assets/Bogue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-slab: 'Bogue';
}

body {
  font-family: 'Inter', sans-serif;
}