@import "tailwindcss";

@font-face {
  font-family: 'Bogue';
  src: url('@/assets/Bogue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --font-slab: 'Bogue';
}

body {
  font-family: 'Inter', sans-serif;
  @apply text-stone-700;
}

@utility btn {
  @apply px-4 py-1 rounded-xl text-xl inline-block disabled:opacity-50 cursor-pointer;
}

@utility btn-lg {
  @apply btn px-6 py-2 text-2xl;
}

@utility btn-primary {
  @apply bg-emerald-900 hover:bg-emerald-950 active:bg-emerald-950 text-white;
}

@utility btn-secondary {
  @apply border-2 border-emerald-900 hover:bg-emerald-50 active:bg-emerald-100 text-emerald-950 ;
}

@utility link {
  @apply text-orange-800 hover:text-orange-900 active:text-orange-900 underline decoration-wavy;
}